<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEMO</title>
</head>
<body>


<ul th:each="c: ${cities}">
    <li th:text="${c.name}"></li>

</ul>


<form th:action="@{/}" th:object="${cities}"  method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Miasto</label>
        <input name="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

    </div>


    <div class="mb-3">
        <label for="validationTextarea">Kody:</label>
        <textarea name="code" class="form-control is-invalid" id="validationTextarea" ></textarea>

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>